*:focus {
  outline: 1px dashed #ec9a23 !important;
}

a {
  text-decoration: none;
  color: skyblue;
  padding: 0 1rem;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.mountRouterButton {
  margin: 1.8rem;
  border: none;
  color: white;
  padding: 0.8rem;
  border-radius: 0.2rem;
  transition: all ease-in-out 0.5s;
  background-color: #57acc5;
}
.mountRouterButton:hover {
  background-color: #4e576b;
}

.routerContainer {
  background-color: seashell;
  padding: 1.2rem;
  min-height: 50%;
}

.page-container {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container h1 {
  letter-spacing: 0.1rem;
  text-align: center;
}
